.contenedor-header {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.contenedor-header img {
    width: 65px;
    height: auto;
}

.contenedor-header .header {
    align-content: center;
}

.contenedor-header .menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 35px;
    text-decoration: none;
}

.contenedor-header a {
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contenedor-header a:hover {
    color: #dc3130;
}

.contenedor-header .menu li a:link,
.contenedor-header .menu ul li a:visited {
    /* Cambia este valor al color que desees */
    color: black;
    /* Esto quita el subrayado, si es necesario */
    text-decoration: none;
}

.contenedor-header ul li.current_page_item a,
.contenedor-header ul li.current-menu-item a {
    /* Subraya el enlace de la página actual */
    text-decoration: underline !important;
    /* Opcional: resalta el texto para la página activa */
    font-weight: bold;
    /* Mantén el color o cámbialo si lo prefieres */
    color: #dc3130;
}

.menu-toggle {
    display: none;
}

.menu-movil {
    display: none;
}

/* Ocultar el menú web en dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-web {
        display: none;
        /* Asegúrate de que esté oculto */
    }

    /* Mostrar el botón de menú hamburguesa */
    .menu-toggle {
        display: block;
        font-size: 45px;
        color: black;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Ocultar el menú móvil por defecto */
    .menu-movil {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .menu-movil.show {
        display: block;
        opacity: 1;
    }

    .menu-movil .menu {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        width: 90%;
        padding: 10px 0px;
        text-decoration: none;
    }

    .menu-movil a {
        color: black;
    }

    .menu-movil a:hover {
        color: #dc3130;
    }

    .menu-movil .menu li a:link,
    .menu-movil .menu ul li a:visited {
        /* Cambia este valor al color que desees */
        color: black;
        /* Esto quita el subrayado, si es necesario */
        text-decoration: none;
    }

    .menu-movil ul li.current_page_item a,
    .menu-movil ul li.current-menu-item a {
        /* Subraya el enlace de la página actual */
        text-decoration: underline !important;
        /* Opcional: resalta el texto para la página activa */
        font-weight: bold;
        /* Mantén el color o cámbialo si lo prefieres */
        color: #dc3130;
    }

}